.input {
  display: flex;
  flex-direction: column;
}

.input label {
  font-weight: bold;
  color: #112e40;
}

.input input {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
}

.input input:focus {
  outline: 1px solid #112e40;
}
