.button {
  cursor: pointer;
  background-color: var(--clr-purple);
  color: white;
  padding: 15px 26px;
  width: fit-content;
  border-radius: 25px;
}

.button > p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
