.member {
  width: 264px;
  height: 359px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #e1e1e1;
  overflow: hidden;
}

.member .member__photo {
  flex: 1;
  transform: translateY(-5px);
}

.member .member__info {
  padding: 0 20px;
  padding-bottom: 30px;
  padding-top: 5px;
}

.member__info h4,
.member__info p {
  font-family: "Poppins", sans-serif;
}

.member__info h4 {
  font-size: 15px;
  font-weight: 600;
}

.member__info p {
  font-size: 13px;
}
