.login {
  width: 100vw;
  height: 100vh;
  background-color: #ff1482;
  display: grid;
  place-items: center;
}

.login img {
  height: 100px;
  object-fit: contain;
}

.login .form {
  background-color: white;
  border-radius: 20px;
  padding: 30px 50px;
  padding-bottom: 10px;
  height: 400px;
  width: 500px;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login form input {
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  padding: 0 10px;
}

.login form input:focus {
  outline: 1px solid #ff1482;
}
.login button {
  outline: none;
  border: none;
  background-color: #ff1482;
  color: white;
  padding: 15px;
  border-radius: 10px;
}
