@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-purple: #8038c5;
  --clr-light-purple: #7e76f9;
}

.container {
  max-width: 1200px;
  margin: auto;
}
